* {
  box-sizing: border-box;
  margin: 0;
}

.site-header {
  width: 100vw;
  padding: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: antiquewhite;
}
.site-header .site-id {
  text-transform: uppercase;
  width: 150px;
  text-align: center;
  justify-content: center;
}
.site-header .site-nav ul {
  display: flex;
  list-style: none;
  justify-content: space-between;
  text-transform: uppercase;
}
.site-header .site-nav ul a {
  position: relative;
  font-weight: 800;
  display: block;
  margin: 0.5em;
  padding: 1em;
  text-decoration: none;
  color: rgba(82, 10, 10, 0.8);
}
.site-header .site-nav ul a:hover {
  color: rgba(234, 0, 0, 0.8);
}

.site-main {
  display: flex;
  flex-direction: column;
  text-align: center;
}
.site-main .hero-title h1 {
  padding: 3em;
}
.site-main .hero {
  margin: 10em;
  display: flex;
}
.site-main .hero a {
  margin: 1em;
  padding: 1em;
}