* {
    box-sizing: border-box;
    margin: 0;
}

// COLORS

$accent-color: rgba(234, 0, 0, .8);
$body-color: rgba(0, 0, 0, 0.8);
$link-color: rgba(82, 10, 10, 0.8);

$salon-color: pink;
$corner-color: orange;
$shoes-color: green;
$petite-color: blue;

// IMPORTS

@import "partials/header";
@import "partials/main";