// SITE NAV

.site-id {
    position: fixed;
    width: 100vw;
    padding: 3em 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $eggshell;

    h3 {
        font-family: $link;
        font-size: clamp(1vw, 1em, 2em);
        margin: 0 1em;
    }

    .header-right {
        display: flex;

        .site-nav {
            // border: 1px solid pink;
            // text-transform: uppercase;
            width: 100px;
            text-align: center;
            justify-content: center;
            display: flex;

            .menu-button {
                position: relative;
                cursor: pointer;
                z-index: 50;

                svg {
                    fill: $accent-color;

                }

                .hide-visually {
                    opacity: 0;
                    position: absolute;
                    top: -999999px;
                }

                rect {
                    transform-origin: center;
                }

            }

            ul {
                z-index: 20;
                position: fixed;
                font-size: .6em;
                width: 100%;
                height: 50vh;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                top: 0;
                right: 0;
                margin: 0;
                padding: 0;
                list-style: none;
                line-height: 1;
                transform: translate(100%, 0);
                transition: all .3s ease-out;
            }

            &[data-navstate="open"] {
                ul {
                    background-color: $eggshell;
                    transform: translate(0, 0);

                    li {

                        a {
                            display: block;
                            padding: 1em;
                            font-size: clamp(2vw, 2em, 5em);

                        }
                    }
                }

                .menu-button {
                    // position: fixed;

                    .navicon {
                        fill: black;

                        .navicon-top {
                            animation: plustox-top-open 1s forwards;
                        }

                        .navicon-middle {
                            animation: plustox-middle-open .5s forwards;
                        }

                        .navicon-bottom {
                            animation: plustox-bottom-open 1s forwards;
                        }
                    }
                }
            }

            &[data-navstate="closed"] {

                .navicon-top {
                    animation: plustox-top-close 1s forwards;
                }

                .navicon-middle {
                    animation: plustox-middle-close 1s forwards;
                }

                .navicon-bottom {
                    animation: plustox-bottom-close 1s forwards;
                }
            }


            a {
                position: relative;
                font-family: $link;
                font-weight: 800;
                display: block;
                padding: 1em;
                text-decoration: none;
                color: $link-color;

                &:hover {
                    color: $beige;
                    transition: all .3s ease-out;
                }

            }
        }
    }

}


// MENU ICON KEYFRAMES
// OPEN

@keyframes plustox-top-open {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(0, 41.5%);
    }

    75% {
        transform: translate(0, 41.5%);
    }

    100% {
        transform: translate(-25%, 30%) rotate(45deg);
    }
}

@keyframes plustox-middle-open {
    0% {
        opacity: 1;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

@keyframes plustox-bottom-open {
    0% {
        transform: translate(0, 0);
    }

    25% {
        transform: translate(0, -41.5%);
    }

    50% {
        transform: translate(33%, -5%) rotate(90deg);
    }

    75% {
        transform: translate(33%, -5%) rotate(90deg);
    }

    100% {
        transform: translate(25%, 30%) rotate(135deg);
    }
}

// CLOSE

@keyframes plustox-top-close {
    0% {
        transform: translate(-25%, 41.5%) rotate(45deg);
    }

    25% {
        transform: translate(0, 41.5%) rotate(0deg);
    }

    75% {
        transform: translate(0, 41.5%);
    }

    100% {
        transform: translate(0, 0);
    }
}

@keyframes plustox-middle-close {
    0% {
        opacity: 0;
    }

    75% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes plustox-bottom-close {
    0% {
        transform: translate(33%, 0) rotate(135deg);
    }

    25% {
        transform: translate(33%, 0) rotate(90deg);
    }

    75% {
        transform: translate(0, -41.5%) rotate(0deg);
    }

    100% {
        transform: translate(0, 0);
    }
}