.site-main {
    display: flex;
    flex-direction: column;
    text-align: center;

    .hero {
        margin: 5em 0;
        display: flex;
        flex-direction: column;
        justify-content: center;

        h1 {
            margin: 3em 0 1em 0;
            font-family: $title;
            font-size: clamp(5vw, 2em, 4em);
            text-align: center;
            color: $beige;
            letter-spacing: .3rem;
        }
    }

    .search-function {
        display: flex;
        align-items: center;
        flex-direction: column;
        gap: 2rem;
        // padding: 2rem;
        // min-height: 100vh;

        .search-bar {
            display: flex;
            justify-content: space-between;
            align-items: center;

            .search {
                display: flex;
                padding: 1.2rem 1rem 1.2rem 4rem;
                min-width: 70%;
                color: $accent-color;
                border: 1px solid $accent-color;
                border-radius: 25px;
                position: relative;
                right: 0;
                letter-spacing: 0.05rem;
                font-size: 1em;
                background: url(https://cdn1.iconfinder.com/data/icons/hawcons/32/698956-icon-111-search-128.png) #ffffff10;
                background-repeat: no-repeat;
                background-position: 1rem 50%;
                background-size: 2rem;
                // outline: 0;
                // transition: background 0.3s ease-out, opacity 0.5s ease-out;
                // backdrop-filter: blur(10px);
            }

            .clear-button {
                margin-left: clamp(3vw, 1em, 3em);
                padding: 1em;
                width: 100px;
                border-radius: 50px;
                border: 1px solid $link-color;
                background: $eggshell;
                color: $link-color;
                cursor: pointer;

            }
        }

        .stockroom-key {
            width: 90%;
            display: flex;
            justify-content: space-between;
            align-items: center;

            li {
                padding: 1em;
                margin: .5em;
                border-radius: 50px;
                width: 150px;
                font-size: 80%;
                text-transform: uppercase;
                font-family: $link;

                &.salon {
                    background-color: $salon-color;
                }

                &.corner {
                    background-color: $corner-color;
                }

                &.womens {
                    background-color: $shoes-color;
                }

                &.petites {
                    background-color: $petite-color;
                }
            }
        }

        .brand-name {
            column-count: 2;
            max-width: 90vw;
            list-style: none;
            // text-align: left;

            li {
                display: none;
                letter-spacing: 0.05rem;
                text-transform: uppercase;
                font-size: 80%;
                font-family: $link;
                line-height: 2;
                // margin: 0.75rem;
                padding: 0.5rem;

                &.a,
                &.b,
                &.c,
                &.d {
                    border: 15px solid #ffffff;
                }

                &.a {
                    background-color: $salon-color;
                }

                &.b {
                    background-color: $corner-color;
                }

                &.c {
                    background-color: $shoes-color;
                }

                &.d {
                    background-color: $petite-color;
                }
            }
        }
    }
}