.site-main {
    display: flex;
    flex-direction: column;
    text-align: center;

    .hero-title {

        h1 {
            padding: 3em;
            font-family: $title;
            font-size: clamp(5vw, 2em, 5em);
        }
    }

    .hero {
        margin: 10em;
        display: flex;
        justify-content: center;

        ul {
            list-style: none;

            li {
                margin: 2em;

                a {
                    border: 1px solid red;
                    text-decoration: none;
                    padding: 1em;

                    font-family: $link;
                    color: $link-color;
                }
            }
        }
    }
}